<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Animations"
        tools:targetApi="31">
        <activity
            android:name=".WinningCupAnimation"
            android:exported="false" />
        <activity
            android:name=".FourCirclesAnimation"
            android:exported="false" />
        <activity
            android:name=".SpiderTwoAnimation"
            android:exported="false" />
        <activity
            android:name=".SpiderAnimation"
            android:exported="false" />
        <activity
            android:name=".SmileTwoAnimation"
            android:exported="false" />
        <activity
            android:name=".InOutAnimation"
            android:exported="false" />
        <activity
            android:name=".CastleAnimation"
            android:exported="false" />
        <activity
            android:name=".SwordAnimation"
            android:exported="false" />
        <activity
            android:name=".SmileAnimation"
            android:exported="false" />
        <activity
            android:name=".TestingClass"
            android:exported="false" />
        <activity
            android:name=".EightCircleAnimation"
            android:exported="false" />
        <activity
            android:name=".TwoCircleAnimation"
            android:exported="false" />
        <activity
            android:name=".WaveAnimation"
            android:exported="false" />
        <activity
            android:name=".SemiCircleAnimation"
            android:exported="false" />
        <activity
            android:name=".ClubAnimation"
            android:exported="false" />
        <activity
            android:name=".DiamondAnimation"
            android:exported="false" />
        <activity
            android:name=".CircleAnimation"
            android:exported="false" />
        <activity
            android:name=".HeartAnimation"
            android:exported="false" />
        <activity
            android:name=".SpadesAnimation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>